body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #709a72;
  color: white;
  margin: 0;
  padding: 20px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

h3 {
  margin-bottom: 10px;
  text-align: center;
}

#logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

#weather-stations {
  text-align: center;
  margin-top: 50px;
}

.station-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: auto;
  cursor: pointer;
  border-radius: 8px;
}

.sensor-data {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
  
  margin-bottom: 20px;
  text-align: center;
}

#valve-control {
  text-align: center;
}

.control-button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}

#predicted-data-section {
  margin-top: 20px;
}

#predicted-data-table {
  width: 100%;
  border-collapse: collapse;

}

#predicted-data-table th, #predicted-data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  
}

#predicted-data-table th {
  background-color: #4CAF50;
  color: white;
}

.back-button {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.sensor-data:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#login-container, #register-container {
  background-color: #e0f7fa;
  border: 1px solid #b2ebf2;
  border-radius: 15px;
  padding: 50px;
  width: 300px;
  margin: 70px auto;
  box-shadow: 0 9px 15px rgba(0, 0, 0, 0.3);
}

#login-container h2, #register-container h2 {
  color: #00796b;
}

#login-container input, #register-container input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #b2ebf2;
  border-radius: 5px;
}

#login-container button, #register-container button {
  background-color: #039f8d;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#login-container button:hover, #register-container button:hover {
  background-color: #004d40;
}

#login-container p, #register-container p {
  color: #00796b;
}

#login-container a, #register-container a {
  color: #00796b;
  text-decoration: none;
}

#login-container a:hover, #register-container a:hover {
  text-decoration: underline;
}

/* Circular Loading Indicator */


.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: inline-block;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#motor-data {
  background-color: #e6f7ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.motor-field {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.motor-field label {
  font-weight: bold;
  flex: 1;
  color: #0194d7;
}

.motor-field input {
  flex: 2;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
}
.alert-section {
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.alert-section h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

#alert-message {
  font-weight: bold;
  color: #333;
}





/*plant dashboard*/

h1 {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  margin: 0;
  padding: 20px;
}

h2, h3 {
  color: #333;
}


.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plant-container {
  flex: 1;
  text-align: center;
}

.sensors {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}

.sensor {
  width: 45%;
  background-color: #e0f7fa;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sensor img {
  max-width: 100%;
  height: 50px;
  display: flex;
  margin-bottom: 10px;
}

.gauge {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  transition: width 0.3s ease-in-out;
  border-radius: 7px;
  overflow: hidden;
  margin-top: 5px;
}

.gauge .gauge-fill {
  height: 100%;
  background-color: #90ee90; /* Light green color */
  width: 0%;
  transition: width 0.3s ease-in-out;
  border-radius: 10px;
}



/* ul*/
.underline-heading {
  position: relative;
  font-size: 24px;
  text-align: center;
  padding: 10px 0; /* Space around the heading text */
}

.underline-heading::before,
.underline-heading::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #5c605c; /* Adjust the color of the underline */
}

.underline-heading::before {
  top: 0; /* Line above the heading */
}

.underline-heading::after {
  bottom: 0; /* Line below the heading */
}
/*
.avatar {
  vertical-align: middle;
  width: 80px;
  height: 50px;
  border-radius: 50%;
}*/


/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }

  .underline-heading {
    font-size: 20px;
  }

  .control-button, .station-button, .logout-button, .back-button {
    width: 100%;
    margin-bottom: 10px;
  }

  #motor-table, #predicted-data-table {
    width: 100%;
    font-size: 12px;
  }

  #motor-table th, #motor-table td, #predicted-data-table th, #predicted-data-table td {
    padding: 5px;
  }

  .sensor {
    width: 100%;
    margin-bottom: 10px;
  }

  .sensor img {
    width: 30px;
    height: 30px;
  }

  .gauge {
    font-size: 12px;
  }

  .alert-section {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .underline-heading {
    font-size: 18px;
  }

  .control-button, .station-button, .logout-button, .back-button {
    font-size: 12px;
  }

  .sensor img {
    width: 25px;
    height: 25px;
  }

  .gauge {
    font-size: 10px;
  }
}
